#header_pc {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;

    .header_section {
        position: relative;
        width: 100%;
        background: #fff;

        border-bottom: solid 1px #efefef;

        .inner_section {
            width: 1260px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;

            .header_sign_in_div {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                .header_sign_in_button {
                    width: 20px;
                    height: 20px;
                    color: #3c3c3c;
                    &:hover {
                        animation-name: navi_color;
                        animation-duration: 250ms;
                        animation-fill-mode: forwards;
                    }
                }
            }

            .navigation {
                height: 64px;
                display: flex;
                align-items: center;
                gap: 90px;

                .header_logo {
                    width: 240px;
                    height: auto;
                }
                .navigation_text {
                    margin: 0;
                    display: inline;
                    line-height: 64px;
                    color: #3c3c3c;
                    font-size: 16px;
                    &:after {
                        display: block;
                        content: '';
                        border-bottom: solid 3px #FF6F61;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                    }
                    &:hover {
                        animation-name: navi_color;
                        animation-duration: 250ms;
                        animation-fill-mode: forwards;
                        &:after {
                            transform: scaleX(1);
                        }
                    }
                }
                .navigation_text_selected {
                    color: #FF6F61;
                }
            }
        }
    }
}


@keyframes navi_color {
    from {
        color: #3c3c3c;
    }
    to {
        color: #FF6F61;
    }
}