.banner_main {
    width: 100%;
    display: flex;

    .banner_image {
        width: 780px;
        height: calc(100vh - 64px - 60px);

        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30);

        display: flex;
        align-items: center;
        justify-content: center;

        .skeleton_img {
            background: url("../../img/etc/skeleton_banner.webp");
            position: relative;
            width: 720px;
            height: 150px;
            box-shadow:  2px 2px 8px #606060;

            animation-name: shine_skeleton;
            animation-duration: 600ms;
            animation-iteration-count: infinite;
        }

        .image_section {
            position: relative;
            width: 720px;
            height: 150px;
            box-shadow:  2px 2px 8px #606060;
            .content_section {
                width: 720px;
                height: 150px;
                display: flex;
                .banner_section {
                    width: 280px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .banner_text {
                        font-size: 50px;
                    }
                }
                .avatar_section {
                    width: 160px;
                    height: 150px;
                    .avatar_img {
                        width: 160px;
                        height: 150px;
                        &.avatar_01 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar01.png");
                            background-size: cover;
                        }
                        &.avatar_02 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar02.png");
                            background-size: cover;
                        }
                        &.avatar_03 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar03.png");
                            background-size: cover;
                        }
                    }
                }
            }

            .watermark_section {
                position: absolute;
                bottom: 0;
                left: 5px;
                & span {
                    font-size: 10px;
                    font-weight: 700;
                }
            }
            &.banner_01 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner01.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #d6c7f1;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            &.banner_02 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner02.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #cad4ef;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            &.banner_03 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner03.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #d87c4d;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            &.banner_04 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner04.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #cfb7a3;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            &.banner_05 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner05.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #b8dccb;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
            &.banner_06 {
                background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner06.png");
                .content_section {
                    .banner_section {
                        .banner_text {
                            color: #e1c1d2;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #fff;
                        }
                    }
                }
            }
        }
    }
    .banner_control {
        width: 520px;
        height: calc(100vh - 64px - 60px);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30);
        border-right: solid 1px #efefef;
        .top_control {
            width: 490px;
            margin: 20px auto 0;
            display: flex;
            justify-content: space-between;
            .btn_control {
                display: flex;
                gap: 20px;

                .reset_btn, .save_btn, .random_btn {
                    height: 40px;
                    border-radius: 20px;
                    padding: 0 20px;

                    gap: 8px;

                    border: solid 1px #3c3c3c;

                    display: flex;
                    align-items: center;

                    font-size: 16px;
                    transition: 0.2s;

                    .reset_icon, .save_icon, .random_icon {
                        width: 18px;
                        height: 18px;
                        transition: 0.2s;
                    }

                    &:hover {
                        .reset_icon, .save_icon, .random_icon {
                            color: #ff6161;
                        }

                        color: #ff6161;
                        border: solid 1px #ff6161;
                    }
                }
            }
        }
        .name_control {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 490px;
            height: 420px;
            gap: 2px;
            margin: 80px auto 80px;
            .input_title {
                font-size: 12px;
            }
            .control_input {
                height: 40px;
                padding: 0 10px;
                font-size: 20px;
                outline: none;

                background: #fff;
                border-radius: 20px;
                border: solid 1px #E8E8E8;
            }
        }
        .img_control {
            display: flex;
            justify-content: end;
            gap: 20px;
            width: 490px;
            margin: 0 auto 10px;

            .select_section {
                display: flex;
                gap: 20px;
                .control_section {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    .control_name {
                        font-size: 12px;
                    }
                    .control_input {
                        width: 100px;
                        height: 40px;
                        border-radius: 20px;

                        border: solid 1px #E8E8E8;

                        display: flex;
                        align-items: center;

                        font-size: 16px;
                        padding: 0 10px;

                        appearance: none;

                        outline: none;

                        cursor: pointer;

                        background-image: url("../../img/etc/arrow_down_icon.png");
                        background-repeat: no-repeat;
                        background-position: right 10px center;
                        background-size: 1rem;
                        &:focus {
                            background-image: url("../../img/etc/arrow_up_icon.png");
                        }

                        .theme_dummy01 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner01.png");
                        }
                        .theme_dummy02 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner02.png");
                        }
                        .theme_dummy03 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner03.png");
                        }
                        .theme_dummy04 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner04.png");
                        }
                        .theme_dummy05 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner05.png");
                        }
                        .theme_dummy06 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/background/banner06.png");
                        }

                        .avatar_dummy01 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar01.png");
                        }
                        .avatar_dummy02 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar02.png");
                        }
                        .avatar_dummy03 {
                            background: url("https://raw.githubusercontent.com/gusgh00/byulee/refs/heads/main/assets/img/avatar/avatar03.png");
                        }
                    }
                }
            }
        }
    }
}