#main_content {
    padding-top: 64px;
    height: 100vh;
    background: #f4f2f0;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main_inner {
    width: 1300px;
    margin: auto;
}

.display_none {
    display: none;
}

@keyframes shine_skeleton {
    0% {
        filter: contrast(100%);
    }
    20% {
        filter: contrast(100%);
    }
    50% {
        filter: contrast(105%);
    }
    80% {
        filter: contrast(100%);
    }
    100% {
        filter: contrast(100%);
    }
}