#main_content {
    padding-top: 64px;
    height: 100vh;
    background: url("../../img/etc/painting_background.png");
    background-size: cover;
}

.main_inner {
    width: 1300px;
    margin: auto;
}