.schedule_main {
    width: 100%;
    display: flex;

    .schedule_image {
        width: 720px;
        height: calc(100vh - 64px - 80px);

        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30);

        display: flex;
        align-items: center;
        justify-content: center;
        .skeleton_img {
            position: relative;
            width: 660px;
            height: 660px;
            box-shadow:  5px 5px 10px #a8a8a8;

            animation-name: shine_skeleton;
            animation-duration: 600ms;
            animation-iteration-count: infinite;
        }

        .image_section {
            position: relative;
            width: 660px;
            height: 660px;
            box-shadow:  5px 5px 10px #a8a8a8;
            .title_section {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                .image_title {
                    font-size: 50px;
                }
            }
            .content_section {
                width: 660px;
                height: 560px;
                display: flex;
                .schedule_section {
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .week_section {
                        width: 390px;
                        height: 64px;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .week_title {
                            height: 64px;
                            font-size: 42px;
                            color: #fff;
                        }
                        .week_content {
                            width: 200px;
                            font-size: 20px;

                            text-align: center;
                        }
                        .week_time {
                            font-size: 20px;
                        }
                    }
                }
                .avatar_section {
                    width: 260px;
                    height: 560px;
                    .dummy_img {
                        height: 80px;
                    }
                    .date_section {
                        width: 260px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .week_date {
                            font-size: 30px;
                        }
                    }
                    .avatar_img {
                        width: 260px;
                        height: 480px;
                    }
                }
            }

            .watermark_section {
                position: absolute;
                bottom: 0;
                left: 5px;
                & span {
                    font-size: 10px;
                    font-weight: 700;
                }
            }

            &.schedule_01 {
                background: url("../../img/background/schedule01.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #ed6496;
                            }
                        }
                    }
                }
            }
            &.schedule_02 {
                background: url("../../img/background/schedule02.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #7874bc;
                            }
                        }
                    }
                }
            }
            &.schedule_03 {
                background: url("../../img/background/schedule03.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #92b5ee;
                            }
                        }
                    }
                }
            }
            &.schedule_04 {
                background: url("../../img/background/schedule04.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #be9fe5;
                            }
                        }
                    }
                }
            }
            &.schedule_05 {
                background: url("../../img/background/schedule05.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #d883a9;
                            }
                        }
                    }
                }
            }
            &.schedule_06 {
                background: url("../../img/background/schedule06.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #b3dfbf;
                            }
                        }
                    }
                }
            }
            &.schedule_07 {
                background: url("../../img/background/schedule07.png");
                .content_section {
                    .avatar_section {
                        .date_section {
                            .week_date {
                                color: #9889e6;
                            }
                        }
                    }
                }
            }
        }
    }
    .schedule_control {
        width: 580px;
        height: calc(100vh - 64px - 80px);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30);

        box-shadow:  44px 0 70px #f0f0f0;
        .top_control {
            width: 550px;
            margin: 20px auto 0;
            display: flex;
            justify-content: space-between;

            .btn_control {
                display: flex;
                gap: 20px;

                .reset_btn, .save_btn, .random_btn, .cookie_btn {
                    height: 40px;
                    border-radius: 20px;
                    padding: 0 20px;

                    gap: 8px;

                    border: solid 1px #3c3c3c;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 16px;

                    transition: 0.2s;

                    .reset_icon, .save_icon, .random_icon, .cookie_icon {
                        width: 18px;
                        height: 18px;
                        transition: 0.2s;
                    }

                    &:hover {
                        .reset_icon, .save_icon, .random_icon, .cookie_icon {
                            color: #FF6F61;
                        }

                        color: #FF6F61;
                        border: solid 1px #FF6F61;
                    }
                }
            }
        }

        .weeks_section {
            display: flex;
            flex-direction: column;
            width: 550px;
            height: 420px;
            margin: 80px auto 80px;
            gap: 2px;
            .weeks_title {
                font-size: 12px;
            }
            .weeks_control {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .week_control {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background: #fff;
                    border-radius: 20px;
                    padding: 0 20px;

                    border: solid 1px #E8E8E8;

                    .week_title {
                        font-size: 22px;
                    }
                    .control_input {
                        height: 40px;
                        font-size: 20px;
                        border-left: #f8f8f8 solid 2px;
                        outline: none;
                    }
                    & input[type="text"] {
                        width: 220px;

                        -webkit-user-select: all;
                        -moz-user-select: all;
                        user-select: all;
                    }
                    & select {
                        width: 80px;
                        &:disabled {
                            color: #E8E8E8;
                        }
                        padding: 0 10px;

                        transition: 0.2s;
                        appearance: none;
                        cursor: pointer;
                        background-image: url("../../img/etc/arrow_down_icon.png");
                        background-repeat: no-repeat;
                        background-position: right center;
                        background-size: 16px;
                        &:focus {
                            background-image: url("../../img/etc/arrow_up_icon.png");
                        }
                    }
                    & input[type="checkbox"] {
                        accent-color: #FF6F61;
                        width: 20px;
                        outline: 0;
                        cursor: pointer;
                    }
                    .rest_icon_false {
                        width: 24px;
                        height: 24px;
                        color: #9b9b9b;
                        cursor: pointer;
                    }
                    .rest_icon_true {
                        width: 24px;
                        height: 24px;
                        color: #FF6F61;
                        cursor: pointer;
                    }
                    .rest_title {
                        height: 40px;
                        line-height: 40px;
                        border-left: #f8f8f8 solid 2px;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }

        .img_control {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 550px;
            margin: 0 auto 10px;

            .date_section {
                display: flex;
                flex-direction: column;
                gap: 2px;
                .control_name {
                    font-size: 12px;
                }
                .date_control {
                    width: 160px;
                    height: 40px;

                    display: flex;
                    align-items: center;
                    background: #fff;
                    border-radius: 20px;

                    border: solid 1px #E8E8E8;
                    .control_input {
                        background: transparent;

                        text-align: center;
                        width: 120px;
                        height: 40px;
                        font-size: 20px;
                        outline: none;
                    }
                    .date_icon {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }

            .select_section {
                display: flex;
                gap: 20px;
                .control_section {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    .control_name {
                        font-size: 12px;
                    }
                    .control_input {
                        width: 100px;
                        height: 40px;
                        border-radius: 20px;

                        border: solid 1px #E8E8E8;

                        display: flex;
                        align-items: center;

                        font-size: 16px;
                        padding: 0 10px;

                        appearance: none;

                        outline: none;

                        cursor: pointer;

                        background-image: url("../../img/etc/arrow_down_icon.png");
                        background-repeat: no-repeat;
                        background-position: right 10px center;
                        background-size: 1rem;
                        &:focus {
                            background-image: url("../../img/etc/arrow_up_icon.png");
                        }
                    }
                }
            }
        }
    }
}