#footer_box {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    .footer_section {
        position: relative;
        width: 100%;
        background: #ff6161;
        .inner_section {
            width: 1300px;
            height: 60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            .footer_copyright {
                font-size: 14px;
                color: #fff;
            }
        }
    }
}