@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.DOL {
    font-family: 'Dolbomche_R', sans-serif;
}

.font_01 {
    font-family: 'HakgyoansimDunggeunmisoTTF-B', sans-serif;
}

.font_02 {
    font-family: 'ONE-Mobile-POP', sans-serif;
}

.font_03 {
    font-family: 'CookieRun-Bold', sans-serif;
}

.font_04 {
    font-family: 'Binggrae', sans-serif;
}

.HASD-300 {
    font-family: 'HakgyoansimSantteutdotumL', sans-serif;
    font-weight: 300;
}

.HASD-500 {
    font-family: 'HakgyoansimSantteutdotumL', sans-serif;
    font-weight: 500;
}

.default_text {
    color: #3c3c3c;
}

.white_text {
    color: #fff;
}