@import "@css/footer/footer.css";
@import "@css/header/header.css";
@import "@css/fonts.css";
@import "@css/pages/main.css";
@import "@css/pages/schedule.css";
@import "@css/pages/banner.css";
@import "@css/pages/counter.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
